---
layout: default
---

<div class="home">

    <h1 class="page-heading">Article of the day</h1>

    <div class="intro">
        <p>
            Hello, and welcome to our little secret space. Here, you can find a stream of articles we, at Tailored Tunes
            share with each other to inspire. motivate and to spark non-work related discussions.
        </p>
        <p>
            We're posting once a day. Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_blank">via RSS</a> or
            <a href="http://www.twitter.com/Tailored_Tunes" target="_blank">Twitter</a> and don't miss out!
        </p>
        <p>What's your article of the day?</p>
    </div>
    <ul class="post-list">
        {% for post in paginator.posts %}
        <li>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

            <h2>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
        </li>

        <article class="post-content">
            {% for article in post.articles %}
            {% include article.html %}
            {% endfor %}
        </article>

        {% endfor %}
    </ul>

    <div class="pagination">
        {% if paginator.previous_page %}
        <a href="{{ "/"|prepend:site.baseurl }}" class="previous">Newest</a> |
        <a href="{{ paginator.previous_page_path|prepend:site.baseurl }}" class="previous">Previous</a>
        {% endif %}
        <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
        {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path|prepend:site.baseurl }}" class="next">Next</a> |
        <a href="{{"/page"|(append:paginator.total_pages|prepend:site.baseurl) }}" class="next">Oldest</a>
        {% endif %}
    </div>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
