{% assign author = site.data.writers[article.author] %}
{% assign pictureSize = 0 %}
{% assign snippetSize = 0 %}
{% assign quoteSize = 0 %}
		<!--author.twitter  author.photo-->
		<!-- The recommendationSize will have an integer to how many columns
		the recommendation text would need -->
{% assign recommendationSize = article.summary|size|divided_by:180|plus:1 %}
{% if article.picture %}
	{% assign pictureSize = 1 %}
{% endif %}
{% if article.snippet %}
	{% assign snippetSize = 1|plus:article.snippet|size)|divided_by:150|plus:1 %}
{% endif %}
{% if article.quote %}
	{% assign quoteSize = 1|plus:article.quote|size|divided_by:168|plus:1 %}
{% endif %}


{% assign total = recommendationSize | plus:quoteSize | plus:snippetSize | plus:pictureSize %}

{% if article.picture %}
		<article class="post-box col-{{ total }}">
		<section class="post-picture" style="background-image: url('{{ article.picture }}'); background-size: cover;">
			<!-- <img src="{{ article.picture }}"/><br/> -->
		</section>
{% else %}
		<article class="post-box col-{{ total }}">
	{% if total == 2 %}
		<article class="post-box col-{{ total }} double-column">
	{% endif %}
{% endif %}

	<section class="post-recommendation">
		<header class="post--header bottom-space">
			<h1 class="title">{{ article.title }}</h1>
		</header>

		<div class="post--category bottom-space">
			{{ article.categories[0] }}
		</div>

		{% if article.quote %}
			<blockquote class="post--quote">
				<p>{{ article.quote }}</p>
			</blockquote>
		{% endif %}
		{% if article.snippet %}
			<code class="post--snippet">
				<p>{{ article.snippet }}</p>
			</code>
		{% endif %}

		<div class="post-summary">
			<figure>
				<img src="{{ author.photo }}" height="40" width="40" />
				<figcaption>{{ author.twitter }}</figcaption>
			</figure>
			{{ article.summary }}
		</div>
	</section>

	<footer class="post-button">
			<a href="{{ article.url }}" target="_blank">read article</a>
	</footer>
</article>
