{% assign author = site.data.writers[article.author] %}
{% assign totalSize = article.size %}

{% if article.picture or article.localpicture %}
	<article class="post-box col-{{ totalSize|plus:1 }}">
		{% assign textBoxSize = '50%' %}
{% else %}
	<article class="post-box col-{{ totalSize }}">
		{% assign textBoxSize = '100%' %}
{% endif %}

	<header class="post--header" style="width:{{ textBoxSize }}">
		<h1 class="title">{{ article.title }}</h1>
		<div class="post--category">
			<p>{{ article.categories[0] }}</p>
		</div>
	</header>

	{% if article.picture or article.localpicture %}

        {% assign url = article.picture %}
        {% if article.localpicture %}
        {% assign url = article.localpicture|prepend:site.baseurl %}
        {% endif %}
		<section class="pictureWindow" style="background-image:url({{ url }}); background-size: cover; background-position: center; height:100%; width:50%;">
		</section>
	{% endif %}

	<section class="post--summary" style="width:{{ textBoxSize }}">
		<figure>
			<img src="{{ author.photo }}" height="40" width="40" />
			<figcaption><a href="http://www.twitter.com/{{ author.twitter }}">@{{ author.twitter }}</a></figcaption>
		</figure>
		<p>{{ article.summary }}</p>
	</section>

	{% if article.picture or article.localpicture %}
		<footer class="post--button">
	{% else %}
		<footer class="post--button" style="left: 0">
	{% endif %}
			<a href="{{ article.url }}" target="_blank">read article</a>
	</footer>

</article>
