$dflt-gray: #e6e6e6;
// $dflt-green: #17c298;
$dflt-green: #8ed67a;
$tatu-dark: #171c23;
$tatu-gray: #efefef;
$white: #fff;


$fml60:	#ed6059;
$fml50:	#8280de;
$fml40:	#d425a8;
$fml30:	#62e19f;
$fml20:	#208a83;
$fml10:	#f1a775;

$unisex: #cacec6;

$ml20: #ea791f;
$ml30: #4697e0;
$ml70: #3cdeda;
$ml100: #5ab82f;

$colors: os $ml100, 
									data-flow $ml100, 
									science $ml70, 
									testing $ml30, 
									computer $ml30, 
									frontend $ml30, 
									programming $ml30, 
									javascript $ml30, 
    					sass $ml30, 
    					future $ml20, 
    					startup $unisex, 
    					history $unisex, 
    					podcast $unisex, 
    					internet-of-things $fml10, 
    					psychology $fml20, 
    					product $fml20,
    					accessibility $fml30, 
    					picture $fml30, 
    					communication $fml30, 
    					lifestyle $fml40, 
    					design $fml40, 
    					education $fml40, 
    					travel $fml50, 
    					motivation $fml50,
    					life $fml60;

