$dflt-gray: #e6e6e6;
// $dflt-green: #17c298;
$dflt-green: #8ed67a;
$tatu-dark: #171c23;
$tatu-gray: #efefef;
$white: #fff;


$fml60:	#ed6059;
$fml50:	#8280de;
$fml40:	#d425a8;
$fml30:	#62e19f;
$fml20:	#208a83;
$fml10:	#f1a775;

$unisex: #cacec6;

$ml20: #ea791f;
$ml30: #4697e0;
$ml70: #3cdeda;
$ml100: #5ab82f;
