/**
 * Site footer
 */
.site-footer {
    background-color: $tatu-dark;
    border-top: 1px solid $grey-color-light;
    color: $tatu-gray;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 24px;
    margin-bottom: 25px;
    text-align: center;
}

.followus {
    margin-bottom: 0;
    text-align: center;
}

.socialBox {
    float: left;
    margin-top: 20px;
    width: 100%;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;

    li:nth-child(2) {
        margin: 0 10px;
    }

    a {
        text-decoration: none;
    }
}

.social-media-list {
    display: flex;
    margin: 0 auto;
    width: 95px;
}

.contact-list a,
.username {
    color: $dflt-green;
}

.made-by {
    text-align: center;

    p:last-child {
        font-size: .8em;
        margin-top: .7em;
    }

    img {
        margin: 0 auto;
    }
}

.footer-col-wrapper {
    font-size: 15px;
    color: $dflt-gray;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    // padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

.email {
    margin-top: 20px;
    text-align: center;
}

.email,
.made-by {
    float: left;
    width: 25%;
}

.no-decoration {
    text-decoration: none;

    figcaption {
        color: $dflt-gray;
    }
}

.authors {
    float: left;
    text-align: center;
    width: 50%;

    .author {
        display: inline-flex;

        img {
            border: 1px solid $dflt-green;
            border-radius: 50%;
        }

        &:nth-child(2) {
            margin: 0 4%;
        }

        a {
            text-decoration: none;
        }

        figcaption {
            color: $dflt-gray;
        }
    }
}

@include min-media($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include min-media($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}
