/**
 * Posts
 */
.post {
    background-color: $dflt-gray;
    border-radius: $base-border-radius;
    // padding: 35px;
}

// .post-header {
//     margin-bottom: $spacing-unit;
// }

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include min-media($on-laptop) {
        font-size: 36px;
    }
}

.post--category {
    p {
        font-size: .75em;
        margin-bottom: 0;
        padding-bottom: 15px;
        text-align: center;
    }

    img {
        display: table;
        margin: 0 auto;
    }
}

.about-page,
.post-content {
    @extend %basic-text-styles;
}

.post-content {
    @extend %flexbox;
}

.post-box {
    background-color: #fff;
    border-radius: $base-border-radius;
    box-sizing: border-box;
    // flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-end;
    margin: 0 2% 2em;
    overflow: hidden;

    @include min-media($on-laptop) {
        height: 420px;
    }

    .post--header {
        background-color: #fff;
        padding: 0 1.5em;
        text-align: center;
        width: 100%;

        h1 {
            font-size: 1.4em;
            font-weight: 600;
            padding-top: 1em;
        }
    }

    .post--quote {
        color: $grey-color;
        font-size: 1.15em;
        font-style: italic;
        font-weight: 400;
        padding: 0 .8em;

        p {
            padding-left: 40px;
        }

        &:before {
            content: '“';
            font-family: Helvetica, Arial, sans-serif;
            font-size: 70px;
            margin-top: -16px;
            position: absolute;
        }
    }

    .post-button {
        background-color: $dflt-green;
        border: 0;
        cursor: pointer;
        height: 37px;
        padding: 0;
        width: 100%;

        a {
            color: $white;
            display: block;
            font-size: 1.1rem;
            height: inherit;
            padding-top: 6px;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
        }

        &:hover {
            background-color: darken($dflt-green, 10%);
        }
    }
}

.post-summary {
    line-height: 1.6em;
    padding: 0 1em;

    figure {
        float: left;
        margin-bottom: 0;
        padding: 10px 0 0;
        width: 70px;

        img {
            border-radius: 50%;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            margin: 0 auto;
        }
    }

    figcaption {
        color: darken($dflt-green, 10%);
        font-size: .6em;
        font-style: italic;
        // padding-top: .3em;
        text-align: center;
    }
}

.col-1,
.col-2,
.col-3 {
    // margin: 0 2% 2em;
    width: 100%;

    @include max-media($on-laptop) {
        height: initial;

        .post-picture {
            height: 300px;
        }

        .post-picture {
            display: block;
            width: 100%;
        }

        .post-button {
            position: initial;
        }
    }
}

.col-1 {

    @include min-media($mDesktop) {
        width: 21%;
    }
}

.col-2 {
    @include min-media($mDesktop) {
        width: 46%;
    }
}

.col-3 {
    @include min-media($mDesktop) {
        width: 71%;
    }
}

.no-pic {
    @include mq($on-laptop, $desktop) {
        width: 71%;
    }

    @include mq($desktop, $mDesktop) {
        width: 46%;
    }

    @include min-media($mDesktop) {
        .post--quote {
            margin: 1.5em auto 1em;
            width: 65%;
        }
    }
}

// .post-recommendation {
//     @extend %flexbox;
//     align-content: flex-start;

//     .post--category,
//     .post--header {
//         width: 100%;
//     }

//     .post--text {
//     }
// }
