/**
 * Posts
 */
.post {
    background-color: $dflt-gray;
    border-radius: $base-border-radius;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include min-media($on-laptop) {
        font-size: 36px;
    }
}

.post--category {
    p {
        font-size: .75em;
        margin-bottom: 0;
        padding-bottom: 15px;
        text-align: center;
    }

    img {
        display: table;
        margin: 0 auto;
    }
}

.about-page,
.post-content {
    @extend %basic-text-styles;
}

.post-content {
    @extend %flexbox;
}

.post-box {

    .post--button {
        background-color: $dflt-green;
        border: 0;
        cursor: pointer;
        // height: 37px;
        left: -50%;
        max-height: 37px;
        order: 4;
        padding: 0;
        position: relative;
        width: 100%;
        z-index: 9999;
    }
}

.post-box {
    align-items: stretch;
    -webkit-align-items: stretch;
    background-color: #fff;
    border-radius: $base-border-radius;
    box-sizing: border-box;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-direction: column;
    -webkit-flex-direction: column;
    margin: 0 2% 2em;
    overflow: hidden;

    @include min-media($on-laptop) {
        height: 420px;
    }

    .pictureWindow,
    .post--header,
    .post--summary,
    .post--button {
        flex: 1 1 auto;
    }

    .pictureWindow {
        background-color: lightgray;
        order: 0;
    }

    .post--header {
        background-color: #fff;
        order: 1;
        text-align: center;

        h1 {
            font-size: 1.4em;
            font-weight: 600;
            padding: 1em 1em 0 1em;
        }
    }

	p a {
		color: darken($dflt-green, 10%);
		text-decoration: none;
	}

    .post--button {

        a {
            color: $white;
            display: block;
            font-size: 1.1rem;
            height: inherit;
            padding-top: 6px;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
        }

        &:hover {
            background-color: darken($dflt-green, 10%);
        }
    }
}

.post--summary {
    line-height: 1.6em;
    order: 4;

    p {
        padding: 0 1em;
    }

    figure {
        float: left;
        margin-bottom: 0;
        // padding: 10px 0 0;
        padding: 0 1em;
        width: 70px;

        img {
            border-radius: 50%;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            margin: 0 auto;
        }
    }

    figcaption {
        color: darken($dflt-green, 10%);
        font-size: .6em;
        font-style: italic;
        // padding-top: .3em;
        text-align: center;

		a {
			color: inherit;
			text-decoration: none;
		}
    }
}

.col-1,
.col-2,
.col-3 {
    // margin: 0 2% 2em;
    // width: 100%;

    // @include max-media($on-laptop) {
    //     height: initial;

    //     .post--button {
    //         position: initial;
    //     }
    // }
}

.col-1 {

    @include min-media($mDesktop) {
        width: 21%;
    }
}

.col-2 {
    @include min-media($mDesktop) {
        width: 46%;
    }
}

.col-3 {
    @include min-media($mDesktop) {
        width: 71%;
    }
}

