.post--quote {
    color: $grey-color;
    font-size: 1.15em;
    font-style: italic;
    font-weight: 400;
    order: 2;

    p {
        padding: 0 1em 0 3em;
    }

    &:before {
        content: '“';
        font-family: Helvetica, Arial, sans-serif;
        font-size: 70px;
        margin-left: 15px;
        margin-top: -16px;
        position: absolute;
    }
}
