---
layout: default
---
<div class="post">

	<header class="post-header">
		<h1 class="post-title">{{ page.title }}</h1>
		<p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
	</header>

	<article class="post-content">
		{% for post in page.articles %}
			{% if post.picture %}
				<article class="post-box col-2">
					<section class="post-picture">
						<img src="{{ post.picture }}"/><br/>
					</section>
			{% else %}
				<article class="post-box col-1">
			{% endif %}
					<section class="post-recommendation">
						
						<header class="post--header bottom-space">
							<h1 class="title">{{ post.title }}</h1>
							<!-- <div class="author">{{ post.author }}</div> -->
						</header>
						
						<div class="post--category bottom-space">
							<img src="/assets/science.png" title="Category - Science" alt="science" height="14px" width="15px">
						</div>

						{% if post.quote %}
							<div class="post--quote">
								{{ post.quote }}
							</div>
						{% endif %}
						
						<div class="post-summary">
							{{ post.summary }}
						</div>
					</section>

					<footer class="post-button">
							<a href="{{ post.url }}" target="_blank">read article</a>
					</footer>
				</article>
		{% endfor %}
	</article>

    {% include comments.html %}

</div>
