---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
	  {% for post in page.articles %}
	  <article>
		  <header>
			  <div class="title">{{ post.title }}</div>
			  <div class="author">{{ post.author }}</div>
		  </header>
		  <section>
			  {% if post.picture %}
			    <img src="{{ post.picture }}"/><br/>
			  {% endif %}
			  {{ post.summary }}
		  </section>
		  <footer>
			  <div class="category {{ post.category }}"></div>
			  <a href="{{ post.url }}">Read
				  article</a>
		  </footer>
	  </article>
	  {% endfor %}

  </article>

</div>
